
<div *ngIf="!isLoading">
    <div class="container-fluid my-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <span class="cover-text">Sports</span>
                    <br />
                    <span class="cover-text-subheader">Enjoy yourself</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="sports-text">
            <span class="sports-text-header">
                Currently offering membership for the following sports
            </span>
            <br />
            <button 
                class="sports-text-button btn btn-link"
                type="button"
                (click)="addSport = !addSport"
                *ngIf="!addSport">
                Add sport
            </button>

            <div class="add-sport-form" *ngIf="addSport">
                <div class="add-sport-inner-container">
                    <form [formGroup]="sportGroup" (ngSubmit)="onSubmit()">
                        <input 
                            type="text" 
                            placeholder="Sport name" 
                            class="form-control form-control-md"
                            formControlName="sportName"/>
                        <div class="add-sport-button-section">
                            <button 
                                type="submit"
                                class="btn btn-md"
                                style="font-weight: bold;">
                                Save sport
                            </button>
                            <button
                                type="button"
                                class="btn btn-md"
                                (click)="addSport = !addSport">
                                Discard
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="sports-cards">
            <app-card-element
                id="app-card"
                *ngFor="let card of cards; let i = index"
                [cardInfo]="card" ></app-card-element>
        </div>

    </div>
</div>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

